@import "rose-pine.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 1.003em;
    font-weight: bold;
}

window#waybar {
	background-color: transparent;
    /* background-color: @base; */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}



#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @rose;
}

#workspaces button:hover {
    color: @love;
}

#workspaces button.persistent {
    color: @rose;
}

#workspaces button.active {
    color: @foam;
}


#workspaces button.deafult {
    color: @rose;
}

#workspaces button.empty {
	color: @subtle;
}

#workspaces button.urgent {
    background-color: @love;
}

#mode {
    background-color: @pine;
    box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power
#mpd {
    padding: 0 10px;
    color: @text;
    margin: 0px;
}

#window,
#workspaces {
    background-color: @base;
    border-radius: 10px;
    padding-right: 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    margin-right: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
    margin-left: 0;
}

#clock {
    background-color: @base;
    color: @foam;
    border-radius: 10px 10px;
    margin-left: 15px;
}

#battery {
    background-color: @base;
    color: @pine;
	padding-left: 0px;
}

#battery.charging, #battery.plugged {
    color: @foam;
    background-color: @base;
	padding-left: 0px;
}


label:focus {
    background-color: @base;
}

#cpu {
	background-color: @base;
    	color: @love;
	margin-left: 3.5px;
	border-radius: 10px 0px 0px 10px;
}

#memory {
	background-color: @base;
	color: @gold;
	padding-left: 0px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: @base;
    color: @rose;
    border-radius: 0px 10px 10px 0px;
    margin-right: 3.5px;
	padding-left: 0px;
}

#custom-power{
    background-color: @base;
    color: @foam;
    margin-right: 15px;
    border-radius: 0px 10px 10px 0px;
	padding-left: 0px;
	padding-right: 10px;
}


#network {
    background-color: @base;
    color: @foam;
	padding-left: 0px;
}

#network.disconnected {
    background-color: @base;
    color: @love;
    margin-right: 2.5px;
    border-radius: 0px 10px 10px 0px;
	padding-left: 0px;
}

#pulseaudio {
	background-color: @base;
	color: @rose;
	border-radius: 10px 0px 0px 10px;
}


#wireplumber {
    background-color: @rose;
    color: @base;
}

#wireplumber.muted {
    background-color: @muted;
}


#temperature {
	background-color: @base;
	color: @foam;
	padding-left: 0px;
}

#temperature.critical {
	background-color: @base;
	color: @love;
	padding-left: 0px;
}

#tray {
	background-color: @base;
	border-radius: 10px;
	margin-left: 3.5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @love;
}

#idle_inhibitor {
    background-color: @overlay;
}

#idle_inhibitor.activated {
    background-color: @rose;
    color: @overlay;
}

#mpd {
    background-color: @iris;
    color: @foam;
}

#mpd.disconnected {
    background-color: @muted;
}

#mpd.stopped {
    background-color: @foam;
}

#mpd.paused {
    background-color: #51a37a;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
